body {
  background-image: url(./edinburgh-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* NavBar Styling */
#menu-outer {
  margin: 0;
  height: 100px;
  background-color: #001C1C;
  width: 100%;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 69px;
  list-style: none;

}

ul#horizontal-list li {
  display: inline-flex;
  border: 10px ;
  text-decoration: none;
  border: 1px solid #003461;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #025E7A;
  cursor: pointer;
}

a:link {
  color:#001C1C;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: antiquewhite;
  background-color: #003442;
  border-radius: 5px;
}

/* Home Style */

.home {
  text-align: center;
}

h1, h2, p {
  color: aliceblue;
}

h2 {
  text-align: center;
}

/* Bookings Style */

#namen{
  color: aliceblue;
  text-decoration: none;
}

#wrapper {
    margin-left: 20%;
    height: 50%;
    width: 60%;
}

#bookingItem {
    display: inline-block;
    border: 10px;
    text-decoration: none;
    border: 1px solid #003461;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #025E7A;
    cursor: pointer;
}

#bookingDetails{
    text-align: center;
    display: inline-block;
    border: 10px;
    text-decoration: none;
    border: 1px solid #003461;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 10%;
    padding-bottom: 10px;
    width: 20%;
    height: 50%;
    background-color: #025E7A;
    cursor: pointer;
}

/* Form Styles */

input{ 
    width: 50%;
    padding: 12px 20px;
    margin-left: 25%;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
      color: aliceblue;
      width: 50%;
      padding: 0;
      margin-left: 25%;
      margin-top: 3%;
      display: inline-flex;
}

#submitButton {
  width: 115px;
  margin-left: 45%;
  margin-top: 3%;
  text-align: center;
}

#searchButton {
  width: 130px;
  margin-left: 45%;
  margin-top: 3%;
  text-align: center;
}